@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body,
.MuiTypography-root,

.MuiTab-indicator {
  background-color: purple-main1;
}

.MuiBox-root {
  padding: 0;
}

.MuiTab-root {
  font-family: "Pretendard";
  font-weight: 700;
}